:root {
  /*Blue Green*/
  --main-blue: rgb(30 55 154);
  --mid-blue: rgb(150 191 234);
  --light-blue: rgb(167 210 236);
  --light-green: rgb(136 187 85);
  --mid-green: rgb(108 138 82);
  /*Dark*/
  --light-grey: rgb(217 217 217);
  --light-mid-grey: rgb(166 166 166);
  --mid-grey: rgb(89 89 89);
  --dark-grey: rgb(38 38 38);
  --black: rgb(13 13 13);
  /*Pastel*/
  --pastel-yellow: rgb(223 223 189);
  --pastel-red: rgb(191 88 77);
  --pastel-orange: rgb(217 165 132);
  --pastel-turquoise: rgb(175 216 210);
  --pastel-blue: rgb(161 206 231);
  --pastel-puple: rgb(168 168 205);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--pastel-red);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
